@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --cor-fundo: rgb(209, 198, 174);
    --cor-main: rgb(216, 145, 112);
    --cor-main-dark: rgb(62, 67, 192);
    --cor-fonte: rgb(10, 1, 1);
}


* {
    outline: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

header {
    width: 100%;
    height: 130px;
    background: var(--cor-main);   
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-fonte);    
}

header h1 {
    width: 100%;   
    text-align: center;
}

footer {
    width: 100%;
    height: 60px;    
    background: var(--cor-main);
    color: var(--cor-fonte);
    text-align: center;
    bottom: 0;     
    position: absolute; 
}

body {   
    background: var(--cor-fundo);    
    margin: 0;
    padding: 0;   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

main {
    background: var(--cor-main);
    max-width: 70%;
    margin: 30px auto;
    display: flex;
    padding: 30px;
    border-radius: 20px;
}

.dados {
    width: 50%;
}

.fraseOk, .fraseNo {
    background-color: rgb(79, 208, 46);
    padding: 10px 20px;
}

.fraseNo {
    background-color: rgb(255 0 0);
}

form input, form label {
    display: block;
    width: 80%;
    margin-bottom: 20px;
}

form button {
    width: 32.5%;
    margin-right: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 2px solid var(--cor-main-dark);   
}

form button {
    border-radius: 10px;
    background: var(--cor-fundo);
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;    
}
 
aside img {
    width: 90%;
    height: 70%;
}
